/*  Landing Page Styling
      This page is designed to have a Large slide-like Layout to Display Information
        Also needs to have light and dark classes
      This should also have the facilities to provide a layout for articles
      This page will have a modified Header Format

  (c) Brady O'Leary 2018
*/


/* Start Article Containers */

article {
  text-align: left;
  margin: 1em 0px;
}

article img {
  height: auto;
  max-width: 50%;
  display: block;
  margin: auto;
  object-fit: contain;
}

article h1 {
  color: #2682A6;
  font-family: bold;
  font-size: 25px;
  border: 0px;
  margin: 0px;
  padding: 0px;
}

article h1 a:link, article h1 a:visited {
  color: #2682A6;
  text-decoration: none;
}

article h1 a:hover {
  color: #82c7e3;
}

article .info {
  font-family: ultralight;
  margin: 0px;
  padding: 0px;
  font-size: 13px;
  color: #333;
}

article .tag {
  border-radius: 5px;
  background-color: #F0F7D4;
  padding: 2.5px;
  box-shadow: 0px 3px 7px #777;
  margin: 0px 5px;
}

article .tag.green {
  background-color: #dcf28d;
}

article .tag.red {
  background-color: #ff8a80;
}

article .tag.blue {
  background-color: #97d1e7;
}

article .tag.orange {
  background-color: #fecc81;
}

article a.tag:link, article a.tag:visited {
  text-decoration:none;
  color: black;
}

article a.tag:hover, article a.tag:active {
  color: #333;
  box-shadow: 0px 5px 7px #999;
}

article .left {
}

article .right {
}

article .continue {
  width: 100%;
  background-color: #eee;
  color: black;
  font-family: ultralight;
  text-align: center;
  margin: 5px 0px;
}

article a:link.continue, article a:visited.continue {
  color: black;
  text-decoration: none;
  display: block;
  background-color: #ccc;
}

article a:hover.continue {
  color: #333;
  background-color: #eee;
}

/* END Article Containers */
