{% extends "index.html" %}

{% block body %}

<div class="flashcard bg-white dark">
    <div class="container">

        {% block headerTitle %}{{ super() }}{% endblock headerTitle %}

        <hr>

        <div class="left">
            {% set data = load_data(path="content/menu.json") %}
            {% for entry in data.topMenu %}
            {% set childLen = entry.children | length %}
            <a href="{{ entry.url }}" class="button {% if entry.class %}{{entry.class}}{% endif %}">{{ entry.name }}</a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock body %}
