<!-- Macros (Shortcodes for Templates) -->

{% macro tag(tag) %}
    {% set tagData = load_data(path="tags.json") %}
    {% if tagData[tag] %}
        {% set localTag = tagData[tag] %}
        <a href="/tags/{{tag}}" class="fg-color">
            <div class="chip-sm {% if localTag.class %}{{localTag.class}}{% endif %}" {% if localTag.fgColor or localTag.bgColor %}style="{% if localTag.fgColor %}color:{{localTag.fgColor}};{% endif %}{% if localTag.bgColor %}background-color:{{localTag.bgColor}};{% endif %}"{% endif %} {% if localTag.tooltip %}title="{{localTag.tooltip}}"{% endif %}>{% if localTag.pretext %}{{localTag.pretext}}{% endif %}{% if localTag.text %}{{localTag.text}}{% else %}{{tag}}{% endif %}{% if localTag.posttext %}{{localTag.posttext}}{% endif %}</div>
        </a>
    {% else %}
        <!-- This tag isn't in tags.json! -->
        <a href="/tags/{{tag}}" class="fg-color">
            <span class="chip-sm">{{tag}}</span>
        </a>
    {% endif %}
{% endmacro tag %}

{% macro bigTag(tag) %}
    {% set tagData = load_data(path="tags.json") %}
    {% if tagData[tag] %}
        {% set localTag = tagData[tag] %}
        <div class="chip-lg full-width text-center {% if localTag.class %}{{localTag.class}}{% endif %}" {% if localTag.fgColor or localTag.bgColor %}style="{% if localTag.fgColor %}color:{{localTag.fgColor}};{% endif %}{% if localTag.bgColor %}background-color:{{localTag.bgColor}};{% endif %}"{% endif %} {% if localTag.tooltip %}title="{{localTag.tooltip}}"{% endif %}>{% if localTag.pretext %}{{localTag.pretext}}{% endif %}{% if localTag.text %}{{localTag.text}}{% else %}{{tag}}{% endif %}{% if localTag.posttext %}{{localTag.posttext}}{% endif %}</div>
    {% else %}
        <!-- This tag isn't in tags.json! -->
        <span class="chip-lg full-width text-center">{{tag}}</span>
    {% endif %}
{% endmacro bigTag %}

{% macro category(name) %}
    <a href="/categories/{{name}}">{{name}}</a>
{% endmacro %}

{% macro titlecard(title, subtitle, style=false, img=false) %}
<div class="title-banner {% if style %}{{ style }}{% endif %} {% if img %}img{% endif %}" {% if img %}style="background-image: url('{{img}}');"{% endif %}>
    <div class="container">
        <h1> {{ title }}</h1>
        {% if subtitle %}
        <hr>
        <p> {{ subtitle }} </p>
        {% endif %}
    </div>
</div>
{% endmacro %}

{% macro flashcard(title, subtitle, style=false, img=false, readMore=false) %}
<div class="banner {% if style %}{{ style }}{% endif %} {% if img %}img{% endif %}" {% if img %}style="background-image: url('{{img}}');"{% endif %}>
    <div class="container text-center">
        <h1> {{ title }}</h1>
        {% if subtitle %}
        <hr>
        <p> {{ subtitle }} </p>
        {% endif %}
        {% if readMore %}
            <a href="{{ readMore }}">Read More →</a>
        {% endif %}
    </div>
</div>
{% endmacro %}

<!-- This is for use in Sections -->
{% macro flashcard_with_banner(title, subtitle, style=false, img=false, readMore=false, cats=false, tags=false, ctr=false) %}
<div class="banner {% if style %}{{ style }}{% endif %} {% if img %}img{% endif %}" {% if img %}style="background-image: url('{{img}}');"{% endif %}>
    <div class="container full-width">
        <h1> {{ title }}</h1>
        {% if subtitle %}
        <hr>
        <p> {{ subtitle }} </p>
        {% endif %}
        
    </div>
    <div class="banner-footer flex-layout horizontal bg-darken bg-blur fg-dark-color">
        <div class="flex">
            Filed under {% if cats %}
                {% for cat in cats %}
                    {{ macros::category(name=cat)}}
                {% endfor %}
            {% endif %}
        </div>
        <div class="flex">
            {% if ctr %}
                {{ctr | safe}}
            {% endif %}
        </div>
        <div class="flex">
            {% if tags %}
                {% for tag in tags %}
                    {{macros::tag(tag=tag)}}
                {% endfor %}
            {% endif %}
        </div>
        <div>
            {% if readMore %}
                <a href="{{ readMore }}" class="button">Read More →</a>
            {% endif %}
        </div>
    </div>
</div>
{% endmacro %}