{% extends "index.html" %}

{% block content %}
{% if page.extra %}
    {% set titlecardStyle = false %}
    {% set titlecardTextStyle = false %}
    {% set titlecardImg = false %}
    {% if page.extra.titlecard %}
        {% set titlecardStyle = page.extra.titlecard %}
    {% endif %}
    {% if page.extra.titlecard_text %}
        {% set titlecardTextStyle = page.extra.titlecard_text %}
    {% endif %}
    {% if page.extra.img %}
        {% set titlecardImg = page.extra.img %}
    {% endif %}
    {{ macros::titlecard(title=page.title, subtitle=page.description, style=titlecardStyle, textStyle=titlecardTextStyle, img=titlecardImg) }}
{% else %}
    {{ macros::titlecard(title=page.title, subtitle=page.description) }}
{% endif %}

{% if page.toc | length > 0 %}
    {% set pagetoc = page.toc %}
    {% if page.extra.toc %}
        {% set pagetoc = pagetoc | concat(with=page.extra.toc) %}
    {% endif %}
    {{ macros::navbar(toc=pagetoc) }}
{% endif %}

<div class="container">
{{ page.content | safe }}
</div>
{% endblock content %}

