{% extends "index.html" %}

{% block head %}
<script>

    var toggleLong = () => {}

    window.addEventListener('load', () => {

        const tocShort = document.body.querySelector("nav [toc-short]");
        const tocLong = document.body.querySelector("nav [toc-long]");
        
        toggleLong = function(state) {
            if (state) {
                tocShort.setAttribute("hidden", "");
                tocLong.removeAttribute("hidden");
            } else {
                tocShort.removeAttribute("hidden");
                tocLong.setAttribute("hidden", "");
            }
        }
    });
</script>
{% endblock head %}

{% block content %}

<div class="title-banner {% if section.extra.titlecard %}{{ section.extra.titlecard }}{% endif %}">
    <div class="container">
        {% if section.title %}
        <h1>{{section.title}}</h1>
        {% endif %}
        {% if section.description %}
        <hr>
        <p>{{section.description}}</p>
        {% endif %}
    </div>
</div>
{% if section.content %}
<nav class="navbar">
    <div toc-short class="container">
        <div class="flex-layout horizontal flex items">
            <div class="title">Section:</div>
            {% for section in section.toc -%}
            <a href="#{{ section.id }}">{{ section.title }}</a>
            {% endfor -%}
            <a href="#section-pages">Pages</a>
            <div class="flex"></div>
            <a class="action" onclick="toggleLong(true)" action title="Show Table of Contents">[show]</a>
        </div>
    </div>
    <div toc-long class="container toc" hidden>
        <div class="flex-layout horizontal hbar">
            <div class="title">Table of Contents:</div>
            <div class="flex"></div>
            <a class="action" onclick="toggleLong(false)" action title="Hide Table of Contents">[hide]</a>
        </div>
        <ol>
            {% for section in section.toc -%}
            <li><a href="#{{ section.id }}">{{ section.title }}</a></li>
            {% endfor -%}
            <li><a href="#section-pages">Pages</a></li>
        </ol>
    </div>
</nav>
<div class="container">
    {{ section.content | safe }}
    <hr>
</div>
{% endif %}
<div id="section-pages"></div>
{% if section.pages %}
    {% for page in section.pages %}
        {% if not section.extra.type or section.extra.type == "article" %}
            <div class="container">
                <article class="article-brief content-card">
                    <header class="hbar">
                        <h1 class="title"><a href="{{page.path}}"> {{page.title}} </a></h1>
                        <div>
                            <span class="info">
                                {% if page.date %}{{page.date}} | {% endif %}
                                {% if page.taxonomies and page.taxonomies.categories %}
                                    Filed under
                                    {% for cat in page.taxonomies.categories %}
                                        {{ macros::category(name=cat)}}
                                    {% endfor %} |
                                {% endif %}
                            </span>
                            {% if page.taxonomies.tags %}
                                {% for tag in page.taxonomies.tags %}
                                    {{macros::tag(tag=tag)}}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </header>
                    {% if page.summary %}
                        <div>
                            {{page.summary | safe}}
                        </div>
                        <div class="height-10"></div>
                        <a href="{{page.path}}#continue-reading"><div class="continue"> Continue Reading ... </div></a>
                    {% elif page.description %}
                        <div>
                            {{page.description}}
                        </div>
                        <div class="height-10"></div>
                        <a href="{{page.path}}#continue-reading"><div class="continue"> Continue Reading ... </div></a>
                    {% endif %}
                </article>
            </div>
        {% elif section.extra.type == "flashcard" %}
            {% if page.extra %}
                {% set titlecardStyle = false %}
                {% set titlecardImg = false %}
                {% set titlecardBannerCats = false %}
                {% set titlecardBannerTags = false %}
                {% if page.extra.titlecard %}
                    {% set titlecardStyle = page.extra.titlecard %}
                {% endif %}
                {% if page.extra.img %}
                    {% set titlecardImg = page.extra.img %}
                {% endif %}
                {% if page.taxonomies.categories %}
                    {% set titlecardBannerCats = page.taxonomies.categories %}
                {% endif %}
                {% if page.taxonomies.tags %}
                    {% set titlecardBannerTags = page.taxonomies.tags %}
                {% endif %}
                {{ macros::flashcard_with_banner(title=page.title, subtitle=page.description, style=titlecardStyle, img=titlecardImg, readMore=page.path, cats=titlecardBannerCats, tags=titlecardBannerTags) }}
            {% else %}
                {{ macros::flashcard(title=page.title, subtitle=page.description, readMore=page.path) }}
            {% endif %}
        {% endif %}
    {% endfor %}
    
{% endif %}

{% endblock content %}